/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #faculdade_v1_pagamento{
      /*  background-color:#86c425 !important; */
         background-color:#05a870;
 }
 #faculdade_v1_pagamento h2 { color:#fff!important; }
 #faculdade_v1_pagamento .inside{
      background-color:#86c425 !important;
     /* background-color:#05a870; */
     padding-top: 15px;

 }
